* {
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	touch-action: pan-x, pan-y;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow: hidden;
}

div {
	display: flex;
	flex-direction: column;
}

.body {
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
}

@font-face {
	font-family: title;
	src: url("/font/TiejiliSC-Regular.otf");
}

@font-face {
	font-family: remark;
	src: url("/font/LXGWMarkerGothic-Regular.ttf");
}

@font-face {
	font-family: normal;
	src: url("/font/SanJiSuXianJianTi-2.ttf");
}

@font-face {
	font-family: write;
	src: url("/font/GloriaHallelujah-Regular.ttf");
}